<!-- 9강. 뼈대 -->
<!-- <div style="height: 10rem; background-color: #38df81; 
border-radius: 1rem; margin: 2rem;">
</div> -->

<!-- 10강. style -->
 <!-- 기본 -->
 <!-- static/base.css 이동 -->
 <!-- <div style="text-align: center; margin-top: 2rem;"> -->
 <!-- 11강. CSS -->
 <div class="pragmatic_footer">

  <!-- 기본 -->
  <!-- static/base.css 이동 -->
  <!-- <div style="font-size: 0.6rem;"> -->
  <!-- 11강. CSS -->
  <div class="pragmatic_footer_button">
    <span>공지사항</span>
    <span>제휴문의</span>
    <span>서비스 소개</span>
  </div>

  <div style="margin-top: 1ram;">
    
    <!-- 기본 -->
    <!-- static/base.css 이동 -->
    <!-- <h6>Pragmatic</h6> -->
    <!-- 11강. CSS -->
    <h6 class="Pragmatic_log">Pragmatic</h6>

  </div>

 </div>