<!-- base.html 상속 -->
{% extends 'base.html' %}

<!-- 23강 부트스트립 -->
<!-- 부트스트립 사용 선언 -->
{% load bootstrap5 %}

<!-- base.html 의 block content 에 삽입될 코드 -->
{% block content %}

<div style="text-align: center; max-width: 500px; margin: 4rem auto;">

  <!-- 23강 부트스트립 -->
  <div class="mb-4">
    <h4>signUp</h4>
  </div>

  <!-- action : 요청을 보내는 url -->
   <!-- accountapp:create : accountapp에 있는 create 값으로 지정 -->
  <form action="{% url 'accountapp:create' %}" method="post">
  <!-- 장고에서 제공하는 보안기능, post 요청시 반드시 필요 -->
  {% csrf_token %}

  <!-- 기존 -->
  <!-- views.py 의 AccountCreateView의 맴버 form_class객체를 불러온다 -->
  <!-- {{ form }} -->
  <!-- 23강 부트스트립 변경 -->
  {% bootstrap_form form %}

  <!-- 클레스 명은 부트스트랩 품을 가져오기 위한 이름 -->
  <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3" value="POST" >

  </form>

</div>

<!-- base.html 의 block content 에 삽입될 코드 끝 -->
{% endblock %}